<div style="position: relative; left: 50%; bottom: 50%; width: 100px; height: 100px; background-color: #00a2eb" (onGesture)="doSwipe($event)" hammer-gestures>

</div>

<div>
    <nav class="c-circle-menu js-menu">
        <button class="c-circle-menu__toggle js-menu-toggle">
            <span>Toggle</span>
        </button>
        <ul class="c-circle-menu__items">
            <li class="c-circle-menu__item">
                <a href="#" class="c-circle-menu__link">
                    <!--<img src="path/to/icon" alt="">-->
                    <i class="material-icons" style="font-size: 96px">add</i>
                </a>
            </li>
            <li class="c-circle-menu__item">
                <a href="#" class="c-circle-menu__link">
                    <!--<img src="path/to/icon" alt="">-->
                    <i class="material-icons">add</i>
                </a>
            </li>
            <li class="c-circle-menu__item">
                <a href="#" class="c-circle-menu__link">
                    <!--<img src="path/to/icon" alt="">-->
                    <i class="material-icons">add</i>
                </a>
            </li>
            <li class="c-circle-menu__item">
                <a href="#" class="c-circle-menu__link">
                    <!--<img src="path/to/icon" alt="">-->
                    <i class="material-icons">add</i>
                </a>
            </li>
            <li class="c-circle-menu__item">
                <a href="#" class="c-circle-menu__link">
                    <!--<img src="path/to/icon" alt="">-->
                    <i class="material-icons">add</i>
                </a>
            </li>

            <li class="c-circle-menu__item">
                <a href="#" class="c-circle-menu__link">
                    <!--<img src="path/to/icon" alt="">-->
                    <i class="material-icons">add</i>
                </a>
            </li>
            <!-- more items here -->
        </ul>
        <div class="c-circle-menu__mask js-menu-mask"></div>
    </nav>
</div>
