<!--<div id="touchSurface">-->
    <!--Touch, swipe, double-tap, tap, and hold me-->
<!--</div>-->

<!--<div class="console" style="min-width: 200px"></div>-->

<div style="position: relative; height: 200%;">
    <div id="scheduler"></div>
</div>

<!--<script id="editor" type="text/x-kendo-template">-->
    <!--<h3>Edit meeting</h3>-->
    <!--<p>-->
        <!--<label>Title: <input name="title" /></label>-->
    <!--</p>-->
    <!--<p>-->
        <!--<label>Start: <input data-role="datetimepicker" name="start Date" /></label>-->
    <!--</p>-->
    <!--<p>-->
        <!--<label>End: <input data-role="datetimepicker" name="end" /></label>-->
    <!--</p>-->
<!--</script>-->