<h1>line intersection</h1>
<div>
    <a href="assets/image/Small-world-network-example.png" data-lightbox="Small-world-network-example" data-title="My caption">
        <image style="width: auto; height: auto" src="assets/image/Small-world-network-example.png"></image>
    </a>
    <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-1.jpg" data-lightbox="example-1"><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-1.jpg" alt="image-1" /></a>
</div>


<canvas #myCanvas id="canvas"></canvas>
