<!--<h1 class="animated infinite bounce">fractal bounce</h1>-->
<!--<h1 class="animated infinite flash">fractal flash</h1>-->
<!--<h1 class="animated infinite shake">fractal shake</h1>-->
<!--<h1 class="animated infinite pulse">fractal pulse</h1>-->
<!--<h1 class="animated infinite rubberBand">fractal rubberBand</h1>-->
<!--<h1 class="animated infinite swing">fractal swing</h1>-->
<!--<h1 class="animated infinite tada">fractal tada</h1>-->
<!--<h1 class="animated infinite wobble">fractal wobble</h1>-->
<!--<h1 class="animated infinite jello">fractal jello</h1>-->
<!--<h1 class="animated infinite bounceInDown">fractal bounceInDown</h1>-->

<div>
    <!--<p>show every device</p>-->
    <!--<p *showItStandard="['iphone','ipad']">I'll show you if I'm a iPhone or ipad device.</p>-->
    <!--<p *isSmartTv>I'll show you if I'm a smart TV device.</p>-->
    <!--<p *isDesktop>I'll show you if I'm a desktop device.</p>-->
    <!--<p *isTablet>I'll show you if I'm a tablet device.</p>-->
    <!--<p *isMoblie>I'll show you if I'm a mobile device.</p>-->
    <!--<p *isIphone>I'll show you if I'm a iPhone device.</p>-->
    <!--<p *isAndroidMobile>I'll show you if I'm a android mobile device.</p>-->
    <!--<p *isAndroidTablet>I'll show you if I'm a android tablet device.</p>-->
    <!--<p *isWindowsPhone>I'll show you if I'm a windows phone device.</p>-->
    <!--<p *isPortrait>I'll show you if I'm a portrait orientation.</p>-->
    <!--<p *isLandscape>I'll show you if I'm a landscape orientation.</p>-->
    <!--<p *isIE>I'll show you if I'm a ie browser.</p>-->
    <!--<p *isIE9>I'll show you if I'm a ie9 browser.</p>-->
    <!--<p *isIE10>I'll show you if I'm a ie10 browser.</p>-->
    <!--<p *isIE11>I'll show you if I'm a ie11 browser.</p>-->
    <!--<p *isIE12>I'll show you if I'm a ie12 browser.</p>-->
    <!--<p *isChrome>I'll show you if I'm a chrome browser.</p>-->
    <!--<p *isFirefox>I'll show you if I'm a firefox browser.</p>-->
    <!--<p *isSafari>I'll show you if I'm a safari browser.</p>-->
    <!--<p *isOpera>I'll show you if I'm a opera browser.</p>-->
    <!--<p *xl>I'll show you if I'm a xl screen size.</p>-->
    <!--<p *lg>I'll show you if I'm a lg screen size.</p>-->
    <!--<p *md>I'll show you if I'm a md screen size.</p>-->
    <!--<p *sm>I'll show you if I'm a sm screen size.</p>-->
    <!--<p *xs>I'll show you if I'm a xs screen size.</p>-->
</div>

<input #myname value="leon li">

<div #div1>1</div>
<div #div2>2</div>
<div #div3>3</div>

<div>
 <ul>
  <li *ngBookRepeat="let p of people">
   {{p.name}} is {{p.age}}
   <a href (click)="remove(p)">Remove</a>
  </li>
 </ul>
</div>

<div>
    <div>
        <label>Name</label>
        <input type="text" #name placeholder="Name">
    </div>
    <div>
        <label>Age</label>
        <input type="text" #age placeholder="Age">
    </div>
    <div>
        <button (click)="add(name, age)">Add</button>
    </div>
</div>

<!--<change-detection-sample-app></change-detection-sample-app>-->
<!--<change-detection-sample-app></change-detection-sample-app>-->
<canvas #myCanvas id="canvas"></canvas>